html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: black;
  position: relative;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
}



.edit1 {
  font-size: 10vw;
  text-align: center;
}

.impo1 {
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  transform-style: preserve-3d;
}

.impo2 {
  background-size: 100% 10px; 
  
  padding-top: 100px;
}

.responsive {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  position: absolute;
  align-items: center;
    margin-left: 25%;
}

.air1 {
  position: relative;
  text-align: center;
  top: 30%;
  color: aliceblue;
  font-family: "Akshar", sans-serif;
  font-size: 12vw;
}

ul.air4 {
  position: relative;
  top: 35%;
  text-align: center;
}

li.air2 {
  display: inline-flex;
  font-size: 20px;
  padding: 10px;
  font-family: "Figtree", sans-serif;
  font-weight: bold;
}

a.air3 {
  position: relative;
  text-decoration: none;
  color: aliceblue;
}

a.air3 {
  position: relative;
}
a.air3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
a.air3:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 1000px) {
  .air1 {
    top: 25%;
  }
  .impo1 {
    height: 60vh;
    background-color: black;
    box-sizing: border-box;
    position: relative;
  }
  ul.air4 {
  
    position: relative;
    top: 27%;
    margin-left: auto;
    margin-right: 40px;
  }
  li.air2 {
    font-size: 10px;
    padding: 2px;
    align-items: center;
  }
  .responsive {
    margin-top: 30px;
    height: max-content;
  }
  
}
@media screen and (max-width: 400px) {
  .responsive{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20vh;
  }
}
@media screen and (max-width: 400px) {
  .impo1 {
    height: 30vh;
    background-color: black;
    box-sizing: border-box;
    position: relative;
  }
  li.air2 {
    display: block;
    font-size: 10px;
    padding: 4px;
    top:40% ;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .impo1 {
    height: 30vh;
  }
}
@media screen and (max-width: 600px) {
  .air1 {
    top: 25%;
  }
  .responsive {
    margin-top: 30px;
    height: 100%;
    margin-left: 25%;
  }
}
img.responsive2 {
  width: 60%;
  border-radius: 50%;
  margin-left: 20%;
}

p.head1 {
  font-size: 1.2em;
  color: #FFFFFF;
  font-family: 'Figtree', sans-serif;
  text-align: justify;
}
span.air6{
  color: #EBD4CB;
  font-family: 'League Gothic', sans-serif;
  font-size: 2em;
}
a.air7{
 color: chartreuse;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 600px) {
  img.responsive2 {
    width: 40%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  span.air6{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
  }
  p.head1 {
    font-size: 1.1em;
    text-align:justify;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.impo3{
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  transform-style: preserve-3d;
}

.air9{
  position: relative;
  text-align: center;
  top: 40%;
  color: aliceblue;
  font-family: "Akshar", sans-serif;
  font-size: 12vw;
}
@media screen and (max-width: 1000px) {
  .air9{
    top: 40%;
  }
  .impo3{
    height:20vh;
  }
  .air9{
    top: 55%;
  }
}
@media screen and (max-width: 1000px) {
  .air9{
    top: 60%;
  }
}
.impo4 {
  background-color: black;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 50px; /* Adjust this value based on your footer height */
  min-height: 100vh; /* Ensure it covers the viewport height */
}

@media screen and (max-width: 1000px) {
  .impo4 {
    padding-bottom: 30px; /* Ensure there's enough padding at the bottom */
    margin-bottom: 0; /* Reset margin if needed */
    min-height: calc(100vh - 160px); /* Adjust based on the footer height */
  }
}


video.air11{
  height: auto;
  width: 100%;
}
.air12{
margin-top:100px ;
}
.hello{
  margin-top: 10%;
}
span.air12{
  font-size: 1.5em;
  font-family: 'Patua One', cursive; 
  background-color: #ffea00;
  color: #000000;
}

/* CSS */
.button-34 {
  background: #ffea00;
  border-radius: 999px;
  box-shadow: #ffea00 0 10px 20px -10px;
  box-sizing: border-box;
  color:#000000;
  cursor: pointer;
  font-family: 'Unbounded', cursive;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
p.head2{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: #f6f5f6;

}
@media screen and (max-width: 800px) {
  .button-34{
    text-align: center;

    span.air12{
      text-align: center;
    }
  }
  video.air11{
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  p.head2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    color: #f6f5f6;
    padding-left: 6px;
    padding-right: 6px;
  }
  .button-34{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.impo5{
  height: 100vh;
  top: 50px;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  transform-style: preserve-3d;
}
.air13{
  position: relative;
  text-align: center;
  top: 40%;
  color: aliceblue;
  font-family: "Akshar", sans-serif;
  font-size: 12vw;
}
.icons{
  margin-bottom:  10px;
}

@media screen and (max-width:1300px) {
  .impo5{
    height: 46vh;
  }
  .air13{
    top: 20%;
  }
  .icons{
    margin-bottom:  10px;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .impo4{
    height: max-content;
  }
}

#h1footer{
  margin-top: 5px;
  color: #891fb7;
  text-align: center;
  font-family: 'League Gothic', sans-serif;
  font-size: 3em;
}
.impo7 {
  margin-top: 150px;
  margin-bottom: 30px;
  height: auto; /* Ensure height adjusts based on content */
}

@media screen and (max-width: 1000px) {
  .impo7 {
    margin-top: 160px;
    height: 10vh; /* Adjust height if needed */
  }
}


#h2footer{
  font-size: 0.7em;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}
#h4footer{
  margin-top: 5px;
  text-align: center;
  color: #ffea00;
  font-family: 'League Gothic', sans-serif;
  font-size: 2em;
}
#h3footer{
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.socials{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
}
#socials1{
  display: inline-block;
  align-items: center;
}
.impo8{
  height: 90vh;
}
.heading3{
  margin-top: 100px;
}
.heading1{
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  color: #f6f5f6;
}
.heading2{
  color: #ffea00;
}
.heading4{
  font-size: 1em;
  color: #f6f5f6;
  font-family: 'Cabin', sans-serif;

}
.heading5{
  color: #ffea00;
  font-size: 1.3em;
  font-family: 'Anton', sans-serif;
}
.heading6{
  font-size: 1.1em;
  line-height: 1.7em;
  color: #FFFFFF;
  text-align: justify;
  font-family: 'Poppins', sans-serif;}
.heading7{
  margin-top: 10px;
}
@media only screen and (max-width: 700px) and (min-width: 400px)  {
  .impo8{
    height: 170vh;
  }
}

@media screen and (max-width: 400px) {
  .impo8{
    height: 160vh;
  }
}
@media screen and (max-width: 370px) {
  .impo8{
    height: 240vh;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 900px)  {
  .impo8{
    height: 40vh;
  }
}
.heading10{
  color: #000000;
  background-color: #ffea00;
}
.heading11{
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  color: #f6f5f6;
  margin-top: 30px;
}
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  margin-bottom: 10px;
  border-bottom: 2px white solid;
  border-top: none;
  border-left: none;
  color: #f6f5f6;
  border-right:none ;
}

input[type="submit"] {
  background-color: #ffea00;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  box-shadow: 0 8px 16px 0 rgba(235, 232, 232, 0.2), 0 6px 20px 0 rgba(250, 247, 247, 0.19);
}
@media (max-width: 600px) {
  form {
    max-width: 100%;
  }

  input,
  textarea {
    width: 100%;
  }
}
.heading8{
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  color: #ffbf00;
}
.heading9{
  color: #ffffff;
}
.impo9{
  
    height: 100vh;
    top: 70px;
    background-color: black;
    box-sizing: border-box;
    position: relative;
    transform-style: preserve-3d;
  
}
.impo11{
  height: 110vh;
}
@media only screen and (max-width: 800px) {
  .impo11{
    height: 40vh;
  }
}
.carousel {
  width:100%;
  height: 500px;
  overflow: hidden;
}
.carousel .carousel-item {
  width: 100%;
  height: 500px;
  transition: transform 0.5s;
}
.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
